<div id="phone-list">
    <h2>Account/list</h2>
    <table id="account-table" class="table">
        <tr>
            <th>account_id</th>
            <th>log_in_email</th>
            <th>plan_id</th>
            <th>plan_id</th>
            <th>plan_id</th>
            <th>plan_id</th>
        </tr>
        <tr *ngFor="let acct of accountList">
            <td>{{acct.account_id}}</td>
            <td>{{acct.log_in_email}}</td>
            <td>{{acct.plan[0].plan_id}}</td>
            <td ng-if="acct.plan[1] != null">{{ 1 }}</td>
            <td ng-if="acct.plan[2] != null">{{ 1 }}</td>
            <td ng-if="acct.plan[3] != null">{{ 1 }}</td>
        </tr>
    </table>


    0.plan[0].plan_id

    0.plan[1].plan_id