<button (click)="toShow()" class="btn btn-success btn-big" type="button">add new phone</button>

<div *ngIf="showForm" class="container col-6">

    <div class="container">
        <div>
            <form (ngSubmit)="savePhone(); PhoneForm.reset()" #PhoneForm>
                <h1 class="h3 mb-3 fw-normal">Please log in</h1>
                <input [(ngModel)]="phoneToAdd.phone_area" type="number" name="phone_area" placeholder="area" required>
                <input [(ngModel)]="phoneToAdd.phone_number" type="number" name="phone_number"placeholder="seven digist" required>
                <input [(ngModel)]="phoneToAdd.phone_first_name" type="text" name="phone_first_name"placeholder="first name" required>
                <input [(ngModel)]="phoneToAdd.phone_last_name" type="text" name="phone_last_name"placeholder="last name" required>
                <input class="btn btn-primary" type="submit" value="new Phone">
            </form>
        </div>
    </div>
</div>