<div class="container">
    <form  (ngSubmit)="logInAccount(); AccountForm.reset()" #AccountForm>
      <h1 class="h3 mb-3 fw-normal">Please log in</h1>
  
      <input [(ngModel)]="accountToLogin.log_in_email" type="email" class="form-control" name="account_email" placeholder="Email" required>
  
      <input [(ngModel)]="accountToLogin.log_in_pass_word" type="password" class="form-control" name="account_password" placeholder="Password"
        required>
  
      <input class="btn btn-primary" type="submit" value="Log in">
    </form>
</div>