<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Log In</a>
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/">add plans</a>
      <a class="nav-item nav-link" routerLink="/">add number</a>
      <a class="nav-item nav-link to_right" >Logout</a>
  </div>
</nav>

<app-registeration></app-registeration>
<app-new-phone></app-new-phone>




<!-- <div class="container-fliud">
  <a [routerLink]="['/new-phone']">new-phone</a> |
  <a [routerLink]="['/phone-list']">phone-list</a>
  <router-outlet></router-outlet>

</div> -->