
<div class="container phoneDetail">
    <table id="plan-table" class="table table-hover">
        <tr scope="row">
            <th scope="col">phone id</th>
            <th scope="col">area code</th>
            <th scope="col"> </th>
            <th scope="col">first name</th>
            <th scope="col">last name</th>
        </tr>
        <tr scope="row">
            <td scope="col">{{onePhone.phone_id}}</td>
            <td scope="col">{{onePhone.phone_area}}</td>
            <td scope="col">{{onePhone.phone_number}}</td>
            <th scope="col">{{onePhone.phone_first_name}}</th>
            <th scope="col">{{onePhone.phone_last_name}}</th>
        </tr>
    </table>
</div>
