<form (ngSubmit)="savePhone(); phoneForm.reset()" id="new_phone" action=""  #phoneForm>
    <label for="">enter new phone</label>
    <!-- <input [(ngModel)]= "phoneToSave.phone_area" type="number" placeholder="phone_area" name="phone_area" id="phone_area">
    <input [(ngModel)]= "phoneToSave.phone_number" type="number" placeholder="phone_number" name="phone_number" id="phone_number">
    <input [(ngModel)]= "phoneToSave.phone_first_name" type="text" placeholder="phone_first_name" name="phone_first_name" id="phone_first_name">
    <input [(ngModel)]= "phoneToSave.phone_last_name" type="text" placeholder="phone_last_name" name="phone_last_name" id="phone_last_name">
    <input class="btn btn-primary" type="submit" value="Save"> -->
</form>